extends template/layout

block content 
  .body__container 
    //- HEADER
    header.section 
      .inner
        .menu-group
          .logo
            a(href="#") Github
          ul.main-menu
            li
              a(href="#") Personal
            li
              a(href="#") Open source
            li
              a(href="#") Business
            li
              a(href="#") Explore
